<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easy.dao.MassUserMapper" >
  
  <resultMap id="BaseResultMap" type="com.easy.domain.MassUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mass_id" property="massId" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR" />
    <result column="send_number" property="sendNumber" jdbcType="VARCHAR" />
    <result column="send_weight" property="sendWeight" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, mass_id, province, address, user_name, phone, head_portrait, send_number, send_weight
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mass_user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getHeadUrlListByMassId" resultType="java.lang.String" parameterType="java.lang.String" >
    select 
    head_portrait
    from mass_user_info
    where mass_id = #{massId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mass_user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.easy.domain.MassUser" >
    insert into mass_user_info (mass_id, province,
      address, user_name, phone, 
      head_portrait, send_number, send_weight
      )
    values (#{massId,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{headPortrait,jdbcType=VARCHAR}, #{sendNumber,jdbcType=VARCHAR}, #{sendWeight,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.easy.domain.MassUser" >
    insert into mass_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="massId != null" >
        mass_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="headPortrait != null" >
        head_portrait,
      </if>
      <if test="sendNumber != null" >
        send_number,
      </if>
      <if test="sendWeight != null" >
        send_weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="massId != null" >
        #{massId,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="headPortrait != null" >
        #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="sendNumber != null" >
        #{sendNumber,jdbcType=VARCHAR},
      </if>
      <if test="sendWeight != null" >
        #{sendWeight,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.easy.domain.MassUser" >
    update mass_user_info
    <set >
      <if test="massId != null" >
        mass_id = #{massId,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="headPortrait != null" >
        head_portrait = #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="sendNumber != null" >
        send_number = #{sendNumber,jdbcType=VARCHAR},
      </if>
      <if test="sendWeight != null" >
        send_weight = #{sendWeight,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.easy.domain.MassUser" >
    update mass_user_info
    set mass_id = #{massId,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      head_portrait = #{headPortrait,jdbcType=VARCHAR},
      send_number = #{sendNumber,jdbcType=VARCHAR},
      send_weight = #{sendWeight,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>